{% extends "frontend/layout.html.twig" %}
{% set search_active = false %}
{% block body %}
    <h1>{{ 'global.title.error500'|trans }}</h1>

    <p>
        {{ 'global.message.error500'|trans }}
    </p>
{% endblock %}
