<!DOCTYPE html>
<html>
{% include 'header.html.twig' %}
{% block body %}
    <h1>{{ 'errors.title.404' }}</h1>

    <p>
        Wineo't : The requested page couldn't be located. Checkout for any URL
        misspelling or return to the homepage</a>.
    </p>
    {% include 'footer.html.twig' %}
{% endblock %}
</html>