{% extends 'WineotBackEndCRUDBundle::layout.html.twig' %}
{% set menu_selected = 'admin' %}
{% block body %}
    <div>
        <h2 class="section-title clearfix"><i class="line"></i>
            {{ 'crud.action.edit'|trans }}
        </h2>
        {% include 'WineotBackEndCRUDBundle:User:form.html.twig' %}
        <a class="btn btn-lg btn-block" href="{{ path('wineot_back_end_crud_user_delete', { 'id': id }) }}">delete</a>
    </div>
{% endblock %}