<p>Bonjour,<br/>
Nous avons bien pris en compte votre demande de gérance du domaine {{ wineryName }}.<br/>
Nous allons vous contacter sous peu pour vérifier vos informations.</p>

<p>
    Merci !<br/>
    L'équipe Wine'ot<br/>
</p>