<h3>{{ 'user.title.password_reset'|trans }}</h3>
<p>Vous avez oublié votre mot de passe ? Pas de soucis ! Voici un mot de passe temporaire :</p>
{{ password }}
<p>Nous vous recommendons vivement de changer votre mot de passe un fois connecté</p>
<p>Pour vous connecter : <a href="{{ url('wineot_user_profile_edit_password') }}">Page de connexion</a>.</p>
<p>
Merci !<br/>
L'équipe Wine'ot<br/>
</p>

