<article class="wine-comment">
    {% if showUserName is defined and showUserName == true %}
        <a href="#"><h4>{{ comment.user.username }}</h4></a>
    {% endif %}

    <div class="rank-big">
            {% for i in 1..comment.rank %}
                <i class="fa fa-star"></i>
            {% endfor %}
    </div>

    <div class="comment">
        <p>
            {% if comment.comment is not null  %}
                "{{ comment.comment }}"<br/>
                {#<a href="#">Edit</a>#}
            {% else %}
                <a href="#">Add comment</a>
            {% endif %}
        </p>
    </div>
</article>