<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="text-align: center;">
                <div class="widget-area">
                    <section id="section-about" class="section">
                        <h2 class="section-title h4 clearfix">About Wine'ot</h2>

                        <div class="textwidget">
                            <p>Vestibulum id velit cursus tortor tincidunt semper. Duis tempor, est eu pretium
                                condimentum, mauris nunc tempus purus, eu dictum mi nibh sed arcu.</p>

                            <p>Vivamus sagittis vestibulum nisl, eu pellentesque nibh. Duis tincidunt congue sapien id
                                adipiscing. Phasellus varius, magna a cursus aliquet, lectus felis sodales orci, a
                                bibendum orci ipsum id libero.</p>
                        </div>
                    </section>
                    <!-- #section-about -->
                </div>
            </div>
            <div class="clearfix"></div>
            <hr/>
        </div>

        <div class="row">
            <div class="site-info col-md-6">
                <p class="text-muted">Copyright &copy; 2014 <a href="#">Wine'ot</a>. All Rights Reserved.</p>
            </div>
            <!-- .site-info -->

            <div class="site-social text-right col-md-6">
                <ul class="list-inline hidden-print">
                    <li><a href="#" class="btn-social btn-facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li><a href="#" class="btn-social btn-twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
                </ul>
            </div>
            <!-- .site-social -->
        </div>
    </div>
</footer><!-- #colophon -->

{% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    '@UtilsNotifyMessengerBundle/Resources/public/js/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(function($) {
        /*-----------------------------------------------------------------------------------*/
        /*	Main Search
         /*-----------------------------------------------------------------------------------*/
        $('#header-search .search-field').on('focus', function() {
            $('#header-search .search-advance-button').fadeIn()
            $('#header-search .search-advance').slideDown()
        })
        $('#header-search .search-advance-button').on('click', function(e) {
            e.preventDefault()
            $(this).fadeOut(100)
            $('#header-search .search-advance').slideUp(100)
        })
    });
    $(function () {
        // Tooltips for sidebar toggle and sidebar logout button
        $('.tooltip-sidebar-toggle, .tooltips').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
    });
</script>