<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="text-align: center;">
                <div class="widget-area">
                    <section id="section-about" class="section">
                        <h2 class="section-title h4 clearfix">Wine'ot</h2>

                        <div class="textwidget">
                            <p>Plus besoin d'etre un expert !<br/>
                                Wine'ot est un projet porté par 6 étudiants d'Epitech, fait avec passion par
                                amour du vin et de la gastronomie.</p>
                        </div>
                    </section>
                    <!-- #section-about -->
                </div>
            </div>
            <div class="clearfix"></div>
            <hr/>
        </div>

        <div class="row">
            <div class="site-info col-md-6">
                <p class="text-muted">Copyright &copy; 2015 <a href="#">Wine'ot</a>. All Rights Reserved.</p>
            </div>
            <!-- .site-info -->

            <div class="site-social text-right col-md-6">
                <ul class="list-inline hidden-print">
                    <li><a href="mailto:contact@wineot.net" target="_blank" class="btn-social btn-green"><i class="fa fa-envelope fa-fw"></i></a></li>
                    <li><a href="https://www.facebook.com/pages/Wineot/1401290980192347" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li><a href="https://twitter.com/WineOt_fr" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
                </ul>
            </div>
            <!-- .site-social -->
        </div>
    </div>
</footer><!-- #colophon -->
{% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    '@PinanoSelect2Bundle/Resources/public/js/select2.full.min.js'
    '@PinanoSelect2Bundle/Resources/public/js/i18n/fr.js'
    '@UtilsNotifyMessengerBundle/Resources/public/js/*'
    '%kernel.root_dir%/Resources/js/*'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<script>
    $(function($) {
        /*-----------------------------------------------------------------------------------*/
        /*	Main Search
         /*-----------------------------------------------------------------------------------*/
        $('#header-search .search-field').on('focus', function() {
            $('#header-search .search-advance-button').fadeIn()
            $('#header-search .search-advance').slideDown()
        })
        $('#header-search .search-advance-button').on('click', function(e) {
            e.preventDefault()
            $(this).fadeOut(100)
            $('#header-search .search-advance').slideUp(100)
        })
    });
    $(function () {
        // Tooltips for sidebar toggle and sidebar logout button
        $('.tooltip-sidebar-toggle, .tooltips').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
    });
</script>
{% block page_script %}
    <script type="text/javascript">
        var collectionHolder = $('tbody.collection');
        var collectionHolder2 = $('tbody.grappeCollection');

        // ajoute un lien « add a tag »
        var $addTagLink = $('<a href="#" class="btn btn-sm btn-primary add_tag_link"><i class="fa fa-plus"></i> Add</a>');
        var $addTagLink2 = $('<a href="#" class="btn btn-sm btn-primary add_tag_link"><i class="fa fa-plus"></i> Add</a>');

        var $newLinkLi = $addTagLink;
        var $newLinkLi2 = $addTagLink2;

        jQuery(document).ready(function () {
            initSelect2();
            var $siteHero = $('.site-hero');
            var $img = $('.site-hero-image').attr('src');
            if ($img) {
                $siteHero.css('background-image', 'url('+$img+')');
                $siteHero.css('background-repeat', 'no-repeat');
                $siteHero.css('-webkit-background-size', 'cover');
                $siteHero.css('-moz-background-size', 'cover');
                $siteHero.css('-o-background-size', 'cover');
                $siteHero.css('background-size', 'cover');
                $siteHero.css('background-position', 'center center');
            }
            // ajoute l'ancre « ajouter un tag » et li à la balise ul
            collectionHolder.append($newLinkLi);
            collectionHolder2.append($newLinkLi2);

            $addTagLink.on('click', function (e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder, $newLinkLi);
            });

            collectionHolder.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });

            $addTagLink2.on('click', function (e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder2, $newLinkLi2);
            });

            collectionHolder2.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });
        });

        function addTagForm(collectionHolder, $newLinkLi) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = collectionHolder.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            var $newFormLi = $('<tr></tr>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
            initSelect2();
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<td class="tooltip-content"><a href="#" class="btn btn-sm btn-red btn-block" data-toggle="tooltip" ' +
                    'data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a></td>');

            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // supprime l'élément li pour le formulaire de tag
                $tagFormLi.remove();
            });
        }
        function initSelect2() {
            $(".select2").select2({
                containerCssClass: 'tpx-select2-container',
                dropdownCssClass: 'tpx-select2-drop',
                minimumResultsForSearch: 5
            });
        }

        var $sport = $('#wineot_databundle_winerytype_country');
        // When sport gets selected ...
        $sport.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$sport.attr('name')] = $sport.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#wineot_databundle_winerytype_region').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#wineot_databundle_winerytype_region')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52343157-4', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
