<div id="header-search" class="site-search clearfix"><!-- #header-search -->
    <form action="" method="get" class="search-form" role="search">
        <div class="form-border">

            <div class="form-inline">
                <div class="form-group">
                    <input type="text" name="s" class="search-field form-control input-lg" title="Enter search term" placeholder="Rechercher un vin.." />
                </div>
                <button type="submit" class="search-submit btn btn-lg pull-right">Search</button>
            </div>

        </div>
    </form>
</div><!-- #header-search -->