<div id="header-search" class="site-search clearfix"><!-- #header-search -->
    <div class="search-form">
        <div class="form-border">

        {% render(controller('WineotFrontEndSearchBundle:Search:search')) %}

        </div>
    </div>
</div>