# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port:
    database_name:
    database_user:
    database_password:
    database_mongo_host:
    database_mongo_port:
    database_mongo_db:
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: fr
    secret:
