<div class="form-group">
    {{ form_widget(form.address.address, { 'attr': { 'placeholder': 'address'|trans } } ) }}
</div>
<div class="form-group">
    {{ form_widget(form.address.town, { 'attr': { 'placeholder': 'town'|trans } } ) }}
</div>
<div class="form-group">
    {{ form_widget(form.address.zipcode, { 'attr': { 'placeholder': 'zipcode'|trans } } ) }}
</div>