<div class="form-group">
    {{ form_widget(form.address.address) }}
</div>
<div class="form-group">
    {{ form_widget(form.address.town) }}
</div>
<div class="form-group">
    {{ form_widget(form.address.zipcode) }}
</div>