{{ form_start(form) }}
<div class="form-inline">
    <div class="form-group">
        {{  form_widget(form.searchInput, { 'attr' : {'placeholder':'Rechercher un vin...', 'class': 'search-field form-control input-lg'} })}}

    </div>
    <input type="submit" class="search-submit btn btn-lg pull-right" id="_submit" name="_submit" value="Search"/>
</div>
{{ form_end(form) }}