@site-background: #fff;
@site-footer-background: #f9f9f9;
@site-header-background: #f9f9f9;
@selection-background: #b00;

@wine-color-red: #9d000b;
@wine-color-pink: #e97e9b;
@wine-color-white: #f0c300;

@wine-thumbnail-background: white;
@wine-thumbnail-size: 200px;

@grapefruit:  #c41230;
@grapefruit-dark: #9d000b;

@grass: #A0D468;
@grass-dark:  #8CC152;

.wine-color-0 {
  color: @wine-color-red;
}
.wine-color-1 {
  color: @wine-color-pink;
}
.wine-color-2 {
  color: @wine-color-white;
}