@site-background: #fff;
@site-footer-background: #f9f9f9;
@site-header-background: #f9f9f9;
@selection-background: #b00;

@font-family-base: 'Open Sans', sans-serif;

@wine-color-red: #9d000b;
@wine-color-pink: #e97e9b;
@wine-color-white: #f0c300;

@wine-thumbnail-background: white;
@wine-thumbnail-border: rgba(50,50,50,0.3);
@wine-thumbnail-size: 200px;

@wine-show-key-background: #D9D9D9;

@button-rounded-background: #666;
@button-rounded-text: white;

@grapefruit:  #c41230;
@grapefruit-dark: #9d000b;

@grass: #A0D468;
@grass-dark:  #8CC152;

@rank: #ffb701;

.wine-color-0 {
  color: @wine-color-red;
}
.wine-color-1 {
  color: @wine-color-pink;
}
.wine-color-2 {
  color: @wine-color-white;
}