<section id="section-categories" class="section">
    <h2 class="section-title h4 clearfix"><i class="line"></i>{{ menuTitle|trans }}</h2>
    <ul class="nav nav-pills nav-stacked nav-categories">
        {% for link in menu %}
            {{ dump(link.routes) }}
            <li class="{% if app.request.attributes.get('_route') in link.routes %}active{% endif %}">
                <a href="{{ path(link.route) }}">{{ link.name|trans }}</a>
            </li>
        {% endfor %}
    </ul>
</section>