{% extends 'WineotBackEndCRUDBundle::layout.html.twig' %}
{% set menu_selected = 'admin' %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Wine</th>
            <th>Comment</th>
            <th class="btn-table"></th>
            <th class="btn-table"></th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    {{ comment.user.username }}
                </td>
                <td>
                    {{ comment.vintage }}
                </td>
                <td>
                    {{ comment.comment }}<br/>
                </td>
                <td class="tooltips">
                    <a href="{{ path('wineot_back_end_crud_wine_delete', { 'id': comment.id }) }}"
                       class="btn btn-sm btn-red btn-block" data-toggle="tooltip"
                       data-placement="top" data-original-title="Delete" onclick="return confirm('Delete ?')">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}