<!DOCTYPE html>
<html>
{% include 'header.html.twig' %}
<body>
<div id="page" class="site">
    <section class="main text-center" id="home">
        <div class="page">
            <div class="wrapper">
                <div class="container">
                    <div id="logo" class="site-logo text-center">
                        <h1>Wine'ot</h1>
                        {#<a href="index.html" rel="home"><img src="assets/img/logo.png" alt="NowKnow | Knowledge Base HTML Template" /></a>#}
                    </div><!-- #logo -->
                    <h1 class="heading">coming soon</h1>
                    <p>
                        Sed facilisis magna sapien.
                        Mauris interdum condimentum vestibulum.
                    </p>
                    <div class="row">
                        <div id="countdown"></div>
                    </div>
                    <!-- Subscription form -->
                    <form class="form-inline signup" action="php/signupForm.php" role="form" id="signupForm">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get notified!</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% include 'footer.html.twig' %}
</body>
</html>