{% extends "WineotFrontEndSearchBundle::layout.html.twig" %}
{% block body %}
{% for wine in wineList %}
    <div class="wine-thumbnail col-lg-3 col-md-3">
        <article>
            <header>
                <a href="#">
                    <img src="{{ asset('img/image.png') }}"/>
                    <div class="img-background"></div>
                    <h1>{{ wine.name }}<span> {{ wine.productionYear }}</span></h1>
                </a>
            </header>
            <div class="wine-thumbnail-info">
                <h2>{{ wine.color|wineColor }}</h2>
                <h2></h2>
            </div>
        </article>
    </div>
{% endfor %}
{% endblock %}