(node) util.print is deprecated. Use console.log instead.
.wine-color-0 {
  color: #9d000b;
}
.wine-color-1 {
  color: #e97e9b;
}
.wine-color-2 {
  color: #f0c300;
}
.bg-grapefruit {
  background-color: #c41230;
  color: #fff!important;
}
.bg-grapefruit-dark {
  background-color: #9d000b;
  color: #fff!important;
}
.bg-primary-dark {
  background-color: #2f80e7;
  color: #fff!important;
}
.bg-primary {
  background-color: #5d9cec;
  color: #fff!important;
}
.breadcrumb-custom {
  padding: 0 5px;
  background: none;
}
.breadcrumb-custom > li a {
  font-weight: 700;
}
.breadcrumb-custom > li:after {
  display: inline-block;
  content: "\f105";
  padding: 0 0.5em 0 0.6em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  vertical-align: baseline;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  opacity: 0.75;
}
.breadcrumb-custom > li:before,
.breadcrumb-custom > li:last-child:after,
.breadcrumb-custom > .text:after {
  display: none;
}
.breadcrumb-custom > .text {
  padding-right: 1em;
}
.breadcrumb-custom > .active {
  font-weight: 600;
}
.ie .breadcrumb-custom > li:before,
.ie .breadcrumb-custom > li:after {
  display: none !important;
}
.ie .breadcrumb-custom > li a {
  margin-right: 0.75em;
}
