(node) util.print is deprecated. Use console.log instead.
.country-flag {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px auto;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
}
.flag-au {
  background-image: url("img/flags/Australia.png");
}
.flag-es {
  background-image: url("img/flags/Spain.png");
}
.flag-us {
  background-image: url("img/flags/United-States.png");
}
.flag-it {
  background-image: url("img/flags/Italy.png");
}
.flag-cl {
  background-image: url("img/flags/Chile.png");
}
.flag-fr {
  background-image: url("img/flags/France.png");
}
.flag-pt {
  background-image: url("img/flags/Portugal.png");
}
