(node) util.print is deprecated. Use console.log instead.
.food-pairing .food-pairing-logo {
  width: 50px;
}
.food-pairing .food-pairing-text {
  width: 200px;
}
.food-type {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px auto;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
}
.food-type-0 {
  background-image: url("img/icons/food_meet.png");
}
.food-type-1 {
  background-image: url("img/icons/food_fish.png");
}
.food-type-2 {
  background-image: url("img/icons/food_vegetable.png");
}
.food-type-3 {
  background-image: url("img/icons/food_cheese.png");
}
.food-type-4 {
  background-image: url("img/icons/food_desert.png");
}
