(node) util.print is deprecated. Use console.log instead.
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic);
.wine-color-0 {
  color: #9d000b;
}
.wine-color-1 {
  color: #e97e9b;
}
.wine-color-2 {
  color: #f0c300;
}
.bg-grapefruit {
  background-color: #c41230;
  color: #fff!important;
}
.bg-grapefruit-dark {
  background-color: #9d000b;
  color: #fff!important;
}
.bg-primary-dark {
  background-color: #2f80e7;
  color: #fff!important;
}
.bg-primary {
  background-color: #5d9cec;
  color: #fff!important;
}
.landing-page {
  text-align: center;
}
.landing-page .site-header {
  height: 650px;
  background-size: cover;
  background: rgba(255, 255, 255, 0.1) url(img/background.jpg) no-repeat center center;
}
.landing-page .landing-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 42px;
  margin-bottom: 42px;
}
.landing-page .landing-title h1 {
  margin-bottom: 42px;
  line-height: 60px;
}
.landing-page .landing-title .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  opacity: 0.8;
  color: white;
  margin-bottom: 42px;
}
@media (max-width: 767px) {
  .landing-page .landing-title {
    margin-top: 0;
  }
  .landing-page .landing-title h1 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
  }
  .landing-page .landing-title .description {
    line-height: 25px;
    margin-bottom: 30px;
  }
}
.landing-page .site-main {
  margin-top: 0;
}
.landing-page input,
.landing-page button {
  height: 40px;
}
.landing-page input {
  width: 320px;
}
.landing-page .section-description {
  margin-top: 60px;
  padding-bottom: 30px;
}
.landing-page .section-description h2 {
  padding-bottom: 25px;
}
.landing-page .section-description .section-title {
  margin-left: 30%;
  margin-right: 30%;
}
@media (max-width: 767px) {
  .landing-page .section-description .section-title {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.landing-page .features-container .feature-box {
  padding-top: 15px;
  padding-bottom: 15px;
}
.landing-page .features-container h3 {
  margin-top: 8px;
}
.landing-page .features-container p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .landing-page input,
  .landing-page button {
    width: 100%;
  }
}
.landing-page .team-container .team-box img {
  height: 142px;
  width: 142px;
}
