.featured {
  min-height:256px;
  padding: 0px;
}
.featured .banner-wrapper {
  display: block !important;
  border-radius: 3px;
  min-height:244px;
  bottom: 0;
  margin: 30px 0;
  padding: 15px 0px 0px 0px;
  background-color: #eee;
  background: rgba(255, 255, 255, 0.9);
}
.featured .banner-wrapper:hover {
  border-color: #fff;
}
.featured .wine-show-body {
  padding: 0px;
  padding-left: 15px;
}
.featured .wine-show-image {
  padding-bottom: 15px;
}
.featured .wine-show-body h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 0px;
  margin-top: 5px;
}
.featured .wine-show-body h2 {
  font-size: 19px;
  font-weight: 200;
  margin: 0px;
}
.featured .wine-show-body h3 {
  font-size: 17px;
  margin: 0px;
}
.featured .wine-show-keys {
  text-align: center;
  font-size: 25px;
}
.featured .wine-show-keys .wine-show-key {
  width: 25%;
  margin: 10px;
  border-radius: 5px;
//  -webkit-box-shadow: 0px 1px 6px 0px rgba(50,50,50,0.3);
//  box-shadow: 0px 1px 6px 0px rgba(50,50,50,0.3);
  background-color: #f2f2f2;
  display: inline;
  white-space: nowrap;
  font-weight: 700;

  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}