.wine-comments {
  border-left: solid 2px #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}
.wine-comments .wine-comment article:first-child {
  padding-top: 0px;
  background-color: #ffff00;
}
.wine-comments .wine-comment {
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0;
}
